.gaugeWrapper {
    padding: 10px;
    overflow: hidden;
}
.container {
    position: relative;
}
.filledValue {
    display: inline-block;
    position: absolute;
}
.valueStyle {
    font-weight: 500;
}
